.input-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    margin-bottom: 5rem;
}

/* Media Queries */

@media (max-width: 768px) {
    .input-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    textarea {
        height: 15rem;
    }
}
